* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --green-schema-color: #1f4d2b;
  --light-green-schema-color: #5ea34f;
  --white-schema-color: #ffffff;
  --black-schema-color: #121212;
}

body {
  height: 100vh;
}

@media (min-width: 992px) {
  form {
    width: 50%;
  }
  img {
    height: 8vw;
  }
  h1 {
    font-size: 2vw;
  }
  label {
    font-size: 1.2vw;
  }
  input::placeholder {
    font-size: 1vw;
  }
  input{
    height: 3vw;
  }
  input[type="email"]{
    font-size: 1vw;
  }
  a {
    color: var(--green-schema-color);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: var(--green-schema-color); 
    text-decoration-color: var(--green-schema-color);
  }
}

.main--desktop {
  height: 100%;
  width: 100%;
  padding: 6vw 12vw 6vw 12vw;
}

.main--content {
  height: 100%;
}

.left-side {
  background-image: url("../../assets/login_image.jpg");
  background-size: cover;
  background-position: center;
  color: var(--white-schema-color);
}

.right-side {
  color: var(--green-schema-color);
}

.main-title {
  font-size: 50px;
}

.main-greeting {
  font-size: 40px;
}
